<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="https://lh3.googleusercontent.com/ZeUDhJgfTAi33Rp_j-b90ag6hz5JsZTi0dy5be1oOmMZuhU7xZJ6KjKfzhPindJSDvtItdytKX0eFaPopkS0Y25NfPKFrY52HJZLfvBXiXxu2-byoNydbg5dHgIiQTE2XDSD9dD4A8LhUCffoWPFC5mIeHlg1rH22pen4oG3GO7WZOuCE2SjuyGaqoWZVvgmfnAkUi0Ochc3LLWgEeVElMlXETfPBl5ZrlOeauoEjyTb6QeKcYfCB0TLdS6Aj6qH1poICvR7HvXZWt3TOfOmlVj-B562F4rAaEabN9d75fDpezmrP3uk0vEn1mufljz6eRNR4zcv-lEWuhFtvoEZTXrzOFpLDM25lotf4T0FJPk5pprqpmDyph0DgTKaEVihryFZiCsZiDcQ55dI51O4bMDYAProHUlk5w9uKvF9_XZn3fa-zxv1_LYvbbMN0mcy-vRBrf2UACq41K8dzFV4xzjQsMeSV-aL5yWnojs5O0I_OBpVndQ8rIm9NBgqPQ7BWNPZQtjbtfg3vgEOhAWrrzP9q3EwPbcCqgn21b1vcTmug0VCKHknOdlVRyH6fCOPmXcxcpF524bd9yhwAoiVf7jWN0yB3YDOx88CxjfpppugYum6BWhpnC5LkYCd0lLqoylGYwyt5MhRttN3f9jx8yp53g=w500-h301-no"></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
    </ul>
  </nav>

</header>
